html
{
}

body
{
    font-family: Roboto, sans-serif;
    color: #0f3c4b;
    background-color: #e5edf1;
    padding: 0rem 1.25rem; /* 80 20 */
}

a{
    text-decoration: none;
    color: currentColor;
}

.checks_group{
    display: block;
}

.hide{
    display:none;
}


.container
{
    width: 100%;
    max-width: 680px; /* 800 */
    text-align: center;
    margin: 0 auto;
}

    .container h1
    {
        font-size: 42px;
        font-weight: 300;
        color: #0f3c4b;
        margin-bottom: 40px;
    }
    .container h1 a:hover,
    .container h1 a:focus
    {
        color: #39bfd3;
    }

    .container nav
    {
        margin-bottom: 40px;
    }
        .container nav a
        {
            border-bottom: 2px solid #c8dadf;
            display: inline-block;
            padding: 4px 8px;
            margin: 25px 5px 0px 5px;
        }
        .container nav a.is-selected
        {
            font-weight: 700;
            color: #39bfd3;
            border-bottom-color: currentColor;
        }
        .container nav a:not( .is-selected ):hover,
        .container nav a:not( .is-selected ):focus
        {
            border-bottom-color: #0f3c4b;
        }

        .container nav a:active {
            position:relative;
            top:1px;
        }

    .container footer
    {
        color: #92b0b3;
        margin-top: 40px;
    }
        .container footer p + p
        {
            margin-top: 1em;
        }
        .container footer a:hover,
        .container footer a:focus
        {
            color: #39bfd3;
        }

    .box
    {
        font-size: 1rem; /* 20 */
        background-color: #c8dadf;
        position: relative;
        padding: 23px 10px 20px 10px;
        margin: 21px 50px;
    }
    .box.has-advanced-upload
    {
        outline: 2px dashed #92b0b3;
        outline-offset: -10px;

        -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
        transition: outline-offset .15s ease-in-out, background-color .15s linear;
    }
    .box.is-dragover
    {
        outline-offset: -20px;
        outline-color: #c8dadf;
        background-color: #fff;
    }
        .box__dragndrop,
        .box__icon
        {
            display: none;
        }
        .box.has-advanced-upload .box__dragndrop
        {
            display: inline;
        }
        .box.has-advanced-upload .box__icon
        {
            width: 100%;
            height: 80px;
            fill: #92b0b3;
            display: block;
            margin-bottom: 40px;
        }

        .box.is-uploading .box__input,
        .box.is-success .box__input,
        .box.is-error .box__input
        {
            visibility: hidden;
        }

        .box__uploading,
        .box__success,
        .box__error
        {
            display: none;
        }
        .box.is-uploading .box__uploading,
        .box.is-success .box__success,
        .box.is-error .box__error
        {
            display: none;
            position: absolute;
            top: 50%;
            right: 0;
            left: 0;

            -webkit-transform: translateY( -50% );
            transform: translateY( -50% );
        }
        .box__uploading
        {
            font-style: italic;
        }
        .box__success
        {
            -webkit-animation: appear-from-inside .25s ease-in-out;
            animation: appear-from-inside .25s ease-in-out;
        }
            @-webkit-keyframes appear-from-inside
            {
                from    { -webkit-transform: translateY( -50% ) scale( 0 ); }
                75%     { -webkit-transform: translateY( -50% ) scale( 1.1 ); }
                to      { -webkit-transform: translateY( -50% ) scale( 1 ); }
            }
            @keyframes appear-from-inside
            {
                from    { transform: translateY( -50% ) scale( 0 ); }
                75%     { transform: translateY( -50% ) scale( 1.1 ); }
                to      { transform: translateY( -50% ) scale( 1 ); }
            }

        .box__restart
        {
            font-weight: 700;
        }
        .box__restart:focus,
        .box__restart:hover
        {
            color: #39bfd3;
        }

        .js .box__file
        {
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            z-index: -1;
        }
        .js .box__file + label
        {
            max-width: 80%;
            text-overflow: ellipsis;
            white-space: nowrap;
            cursor: pointer;
            display: inline-block;
            overflow: hidden;
        }
        .js .box__file + label:hover strong,
        .box__file:focus + label strong,
        .box__file.has-focus + label strong
        {
            color: #39bfd3;
        }
        .js .box__file:focus + label,
        .js .box__file.has-focus + label
        {
            outline: 1px dotted #000;
            outline: -webkit-focus-ring-color auto 5px;
        }
            .js .box__file + label *
            {
                /* pointer-events: none; */ /* in case of FastClick lib use */
            }

        .no-js .box__file + label
        {
            display: none;
        }

        .no-js .box__button
        {
            display: block;
        }
        .box__button
        {
            font-weight: 700;
            color: #e5edf1;
            background-color: #39bfd3;
            display: none;
            padding: 8px 16px;
            margin: 40px auto 0;
        }
            .box__button:hover,
            .box__button:focus
            {
                background-color: #0f3c4b;
            }

.check_container{
    margin:6px;
}


 #progress_bar {
    margin: 0px 40px;
    padding: 3px;
    border: 1px solid #000;
    font-size: 14px;
    clear: both;
    opacity: 0;
    -moz-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
    -webkit-transition: opacity 1s linear;
    display:none;
  }

  #progress_bar.loading {
    opacity: 1.0;
    display: block;
  }

  #progress_bar .percent {
    background-color: #99ccff;
    height: auto;
    width: 0;

  }

  .box__input {
    display: block;
  }

  #loader_legend{
    margin-bottom: 100px;
    display: none;
  }

  .success_message{
    margin-top: 50px;

  }

.options_container{
    margin-top: 75px;
}

    .diffie_option
    {
        font-size:17px;
        font-weight: 450;
        border-bottom: 2px solid #c8dadf;
        display: block;
        padding: 4px 8px;
        margin: 20px 200px 15px 200px;
    }

    .diffie_option:hover,
    .diffie_option:focus
    {
        border-bottom-color: #0f3c4b;
        cursor: pointer;
    }

    .diffie_option:active {
        position:relative;
        top:2px;
    }


.diffie_message{
    margin: 75px 35px;
}

.secondary_screen{
    display: none;
}

.file_input_diffie{
    margin-top: 17%;
}

.myButton {
    margin-top: 5px;
    background-color:#54b1de;
    border-radius:7px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:16px;
    padding:8px 46px;
    text-decoration:none;
}
.myButton:hover {
    background-color:#42a9db;
}
.myButton:active {
    position:relative;
    top:2px;
}

  @include loader09($size: 10px, $height: 48px, $gap: 8px, $duration: 1s, $align: middle);